.navigation ul li.active a .icon {
  transform: translateY(-35px);
}

.navigation ul li.active a .text {
  opacity: 1;

  transform: translateY(10px);
}

.indicator::after,
.indicator::before {
  content: "";

  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background: transparent;
}
.indicator::before {
  left: -22px;

  border-top-right-radius: 20px;

  box-shadow: 1px -10px 0 0 #222327;
}

.indicator::after {
  right: -22px;

  border-top-left-radius: 20px;

  box-shadow: -1px -10px 0 0 #222327;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0);
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(60px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(60px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(60px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(60px * 4));
}
